/* TailwindCSS Base Styling */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    a {
        @apply underline transition hover:opacity-80;
    }

    pre {
        @apply p-6 overflow-x-auto rounded-lg;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-[#1f1f1f] text-[#F67280];
        font-size: 0.9em;
    }
}

@layer components {
    .markdown > h1,
    .markdown > h2 {
        @apply mt-12 mb-6;
    }

    .markdown > p,
    .markdown > pre {
        @apply my-6;
    }

    .markdown > :first-child {
        @apply mt-0;
    }

    .markdown > :last-child {
        @apply mb-0;
    }

    .btn:disabled {
        @apply text-neutral-400 bg-neutral-700;
    }
}

/* Landing Page Container and Transparent Overlay */
div.landing-page-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: white;
    background-image: url("/images/calgary.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
}

div.landing-page-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust transparency */
    z-index: 1; /* Place it above the background but below content */
}

div.landing-page-container > * {
    position: relative; /* Ensure content appears above the overlay */
    z-index: 2;
}

/* Contact Section Styling */
section.contact {
    border-radius: 8px;
    background-color: #333; /* Dark Gray */
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* General Styling for Other Sections */
section.mission, section.skills, section.about, section.portfolio {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

/* Responsive Flexbox Layout for Double Sections */
section.double {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
