---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">My Resume</h1>
    <p class="mb-8">
        Welcome to my portfolio. Here you can find my resume, programming projects, and more.
    </p>
</Layout>
