---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio - Contact">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Contact Information</h1>
    <p class="mb-8">Feel free to reach out through the following channels:</p>
    <!-- Add your contact details here -->
    <ul>
        <li>Email: zack@zobell.com</li>
        <li>Phone: (403) 393-****</li>
    </ul>
</Layout>
