---
import Layout from '../layouts/Layout.astro';

const explainer = `Hi! I'm Zack, a passionate software developer and IT professional with experience in web development, project management, and problem-solving. Explore my portfolio to see my skills, projects, and more!`;
---

<Layout title="Zack ZoBell Portfolio">
    <!-- Hero Section -->
 
	<div class="landing-page-container">
	<div class="overlay">
   </div>
    </div>
</Layout>
