---
import Layout from '../layouts/Layout2.astro';

const explainer = `Hi! I'm Zack, a passionate software developer and IT professional with experience in web development, project management, and problem-solving. Explore my portfolio to see my skills, projects, and more!`;
---

<Layout title="Lethbridge Student Survey">
    <!-- Hero Section -->
 <section class="contact-form-section py-16 px-4">
  <h2 class="text-3xl font-bold text-center mb-8">Lethbridge Transit Survey</h2>
  <iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=6fr1V66S7E-Ix74mVJMB6ECNn6-8WnlHv4kruCgzRxhUM1k4R1BGTzhKWkRIMDA1SllBMkNTOTNWNC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</section>
    
</Layout>
