---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio - Sample Coding Projects">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Thank you</h1>
    <p class="mb-8">I will get back to you as soon as I can.</p>
</Layout>
