---
import Layout from '../layouts/Layout2.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio - Sample Coding Projects">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Thank you</h1>
    
	<br/>
	<br/>
	  <p class="mb-8">Feel free to reach out through the following channels:</p>
    <!-- Add your contact details here -->
    <ul>
        <li>Email: </li>
        <li>Phone: </li>
    </ul>
</Layout>
