---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import { Image } from 'astro:assets';
import resume from '../assets/zackzobellresume.pdf';
---

<Layout title="Zack ZoBell Portfolio - Resume">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">My Resume</h1>
	<iframe src={resume} width='100%' height='1100px'clasee="rounded-lg shadow-lg""></iframe>

</Layout>
