---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio - Resume">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">My Resume</h1>
    <p class="mb-8">Details about my resume...</p>
	<iframe src="../assets/zackzobellresume.pdf" width="100%" height="600px"></iframe>

</Layout>
