import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import Navbar from '../components/Navbar.astro';

<Layout title="Zack ZoBell Portfolio.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">My Resume</h1>
    <p class="mb-8">
</layout>
