---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio - Sample Projects">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">My Sample Projects</h1>
    <p class="mb-8">Here are some of the projects I've worked on...</p>

    <!-- Projects Container -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Project 1 -->
        <a href="/figma" target="_blank" class="project-box relative rounded-lg overflow-hidden">
            <div class="w-full h-72 bg-cover bg-center rounded-lg" style="background-image: url('/images/figma.jpeg');">
                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center text-white">
                    <h3 class="font-semibold text-xl">Figma Mockup</h3>
                </div>
            </div>
        </a>
        
        <!-- Project 2 -->
        <a href="https://example2.com" target="_blank" class="project-box relative rounded-lg overflow-hidden">
            <div class="w-full h-72 bg-cover bg-center rounded-lg" style="background-image: url('/images/project2-image.jpg');">
                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center text-white">
                    <h3 class="font-semibold text-xl">Project 2</h3>
                </div>
            </div>
        </a>

        <!-- Project 3 -->
        <a href="https://example3.com" target="_blank" class="project-box relative rounded-lg overflow-hidden">
            <div class="w-full h-72 bg-cover bg-center rounded-lg" style="background-image: url('/images/project3-image.jpg');">
                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center text-white">
                    <h3 class="font-semibold text-xl">Project 3</h3>
                </div>
            </div>
        </a>

        <!-- Project 4 -->
        <a href="https://example4.com" target="_blank" class="project-box relative rounded-lg overflow-hidden">
            <div class="w-full h-72 bg-cover bg-center rounded-lg" style="background-image: url('/images/project4-image.jpg');">
                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center text-white">
                    <h3 class="font-semibold text-xl">Project 4</h3>
                </div>
            </div>
        </a>
    </div>
</Layout>

