---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="Zack ZoBell Portfolio - Sample Projects">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">My Sample Projects</h1>
    <p class="mb-8">Here are some of the projects I've worked on...</p>

    <!-- Projects Container -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Project 1 -->
        <a href="/figma" target="_blank" class="project-box">
            <div class="p-8 rounded-full bg-blue-500 text-white text-center shadow-lg hover:bg-blue-600 transition duration-300">
                <img src="/images/figma.jpeg" alt="Project 1" class="rounded-full mb-4 w-24 h-24 object-cover mx-auto" />
                <h3 class="font-semibold text-xl mb-4">Figma Mockup</h3>
            </div>
        </a>
        <!-- Project 2 -->
        <a href="https://example2.com" target="_blank" class="project-box">
            <div class="p-8 rounded-full bg-green-500 text-white text-center shadow-lg hover:bg-green-600 transition duration-300">
                <img src="/images/project2-image.jpg" alt="Project 2" class="rounded-full mb-4 w-24 h-24 object-cover mx-auto" />
                <h3 class="font-semibold text-xl mb-4">Project 2</h3>
                <p class="text-sm">A brief description of the project goes here.</p>
            </div>
        </a>
        <!-- Project 3 -->
        <a href="https://example3.com" target="_blank" class="project-box">
            <div class="p-8 rounded-full bg-red-500 text-white text-center shadow-lg hover:bg-red-600 transition duration-300">
                <img src="/images/project3-image.jpg" alt="Project 3" class="rounded-full mb-4 w-24 h-24 object-cover mx-auto" />
                <h3 class="font-semibold text-xl mb-4">Project 3</h3>
                <p class="text-sm">A brief description of the project goes here.</p>
            </div>
        </a>
        <!-- Project 4 -->
        <a href="https://example4.com" target="_blank" class="project-box">
            <div class="p-8 rounded-full bg-yellow-500 text-white text-center shadow-lg hover:bg-yellow-600 transition duration-300">
                <img src="/images/project4-image.jpg" alt="Project 4" class="rounded-full mb-4 w-24 h-24 object-cover mx-auto" />
                <h3 class="font-semibold text-xl mb-4">Project 4</h3>
                <p class="text-sm">A brief description of the project goes here.</p>
            </div>
        </a>
    </div>
</Layout>
