

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <!-- Use the <img> tag to display the logo -->
    <a href="/">
        <img src="/images/zack.jpg" alt="Zack ZoBell Logo" class="h-10" />
    </a>
    {
        !!navItems?.length && (
            
        )
    }
</nav>


