---
// Import navigation items
const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Resume', href: '/resume' },
    { linkText: 'About', href: '/about' },
    { linkText: 'Contact', href: '/contact' },
    { linkText: 'Projects', href: '/sample_projects' },
    { linkText: 'Coding', href: '/sample_coding' }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <!-- Use the <img> tag to display the logo -->
    <a href="/">
        <img src="/images/zack.jpg" alt="Zack ZoBell Logo" class="h-10" />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>


